<h1>Pictures</h1>

<% if @pictures.size > 0 %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name:</th>
      <th>Preview:</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pictures.each do |picture| %>
    <tr>
      <td><%= picture.name %></td>
      <td><%= image_tag picture.image.thumb.url %></td>
      <td><%= link_to 'Delete', picture_path(picture), method: :delete, confirm: "Are you sure?" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<hr />
<% end %>

<%= simple_form_for @picture do |f| %>
  <%= f.input :name %>
  <%= f.input :image %>

  <div class="form-actions">
    <%= f.submit 'Upload Image', class: 'btn btn-primary' %>
  </div>
<% end %>