<% content_for :head do %>
  <style>
  @font-face{
    font-family: glyph-preview;
    src: url(<%= @font.typeface %>);
  }
  </style>
<% end %>

<%= simple_form_for @font do |f| %>
  <%= f.input :name %>
  <%= f.input :dingbat %>

  <% if @font.dingbat? %>
    <h2>Name Your Dingbats</h2>
    <p>Fill in the box under each dingbat. If you leave one blank, it won't be included.</p>
    <ul class="glyphs clearfix">
    <% @font.glyphs.each do |glyph| %>
      <li>
        <label class="string optional control-label" for="glyph_<%= glyph.ascii %>_name"><%= glyph.ascii.chr %></label>
        <%= text_field_tag "glyph[#{glyph.ascii}][name]", glyph.name %>
      </li>
    <% end %>
    </ul>
  <% end %>

  <div class="form-actions">
    <%= f.submit 'Edit Font', class: 'btn btn-primary' %>
  </div>
<% end %>