<h1>Fonts</h1>

<% if @fonts.size > 0 %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name:</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @fonts.each do |font| %>
    <tr>
      <td><%= font.name %></td>
      <td>
        <%= link_to 'Edit', edit_font_path(font), class: 'btn btn-primary' %>
        <%= link_to 'Delete', font_path(font), method: :delete, confirm: "Are you sure?" , class: 'btn' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<hr />
<% end %>

<h2>Upload Font</h2>
<%= simple_form_for @font do |f| %>
  <%= f.input :typeface %>
  <%= f.input :name %>
  <%= f.input :dingbat, label: "Is this a dingbat font?" %>

  <div class="form-actions">
    <%= f.submit 'Upload Font', class: 'btn btn-primary' %>
  </div>
<% end %>