<%= simple_form_for @font do |f| %>
  <%= f.input :name %>
  <%= f.input :typeface %>
  <%= f.input :dingbat %>

  <div class="form-actions">
    <%= f.submit 'Upload Font', class: 'btn btn-primary' %>
  </div>
<% end %>